h1, p {
  font-family: Lato;
}

.diagramStyling {
		width: 1000px;
		height: 520px;
    border: 1px solid rgb(230, 138, 0);
    padding: 10px;
    background: #ffd699;
    margin-bottom: 30px;
}

.brand-logo{
  margin-top: 5px;
  margin-left: 100px;
  font-weight: bold;
}

.nav-wrapper {
  padding-bottom: 80px;
}

footer {
  margin-top: 15%;
}

#ranking{
  width: 100px;
  margin-right: 20px;
}

.position {
  margin-top: 50px;
}

span {
  margin-right: 9px;
}

